@media (max-width: 1024px) {
    #hero {
      text-align: center;
      background-image: none;
    }
  }
  @media (max-width: 992px) {
    #hero {
      text-align: center;
      background-image: none;
    }
    
    #hero h1 {
      font-size: 32px;
      line-height: 36px;
    }
    #hero p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
  }